@import url(https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap);
@import url(https://fonts.googleapis.com/css?family=Big+Shoulders+Display&display=swap);

:root {
  --link_color: rgb(62, 82, 163);
  --sedan_color: rgb(226, 133, 37);
  --suv_color: rgb(1, 105, 114);
  --luxury_color: rgb(0, 64, 63);
}

body {
    margin-top: 10%;
  color: rgb(242, 242, 242);
}

.cars {
  display: flex;
  margin-left: 20%;
  width: 60%;
}

div.info {
  display: flex;
}

h1 {
  color: rgb(242, 242, 242);
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
}

p {
  color: rgba(255, 255, 255, 0.75);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.text {
  width: 90%;
  margin-left: 5%;
  margin-top: 10%;
}

.sedans {
  background-color: var(--sedan_color);
  width: 250px;
  height: 380px;
}

.suvs {
  background-color: var(--suv_color);
  width: 250px;
  height: 380px;
}

.luxuries {
  background-color: var(--luxury_color);
  width: 250px;
  height: 380px;
}

.botao {
  margin-top: 15%;
  background-color:rgb(242, 242, 242);
  height: 45px;
  width: 135px;
  border-style: solid;
  border-color: rgb(242, 242, 242);
  border-radius: 25px;
  border-width: 1px;
  transition: 0.5s ease all;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
}

#sedan:hover {
    background-color: var(--sedan_color);
    color:rgb(242, 242, 242)
}

#sedan {
    color: var(--sedan_color);
}


#suv:hover {
    background-color: var(--suv_color);
    color:rgb(242, 242, 242)
}

#suv {
    color: var(--suv_color);
}

#luxury:hover {
    background-color: var(--luxury_color);
    color:rgb(242, 242, 242)
}

#luxury {
    color: var(--luxury_color);
}

.attribution a {
  color: var(--link_color);
  text-decoration: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
